title {
	color: #3B3738;
}

body {
	background: #FDF3E7;
	font-family: Avenir;
}

#header {
	font-size: 60px;
	text-align: center;
	font-family: Avenir;
	padding: 15px 0;
}

#cloudPane {
	text-align: center;
	min-height: 300px;
	margin-bottom: 10px;
}

#cloudBox {
	width: 400px;
	margin: 0 auto;
}

#generating {
	height: 300px;
	width: 300px;
	vertical-align: middle;
}

#innerCloud {
	background: #FDF3E7;
	padding: 10px;
}

#inputPane {
	width: 350px;
	margin: 0 auto;
}

#inputBox {
	width: 350px;
	height: 30px;
	font-weight: bold;
	border: 3px solid #558C89;
	margin-bottom: 8px;
}

#submitButton {
	background: #74AFAD;
	font-family: Avenir;
	font-size: 20px;
	border: none;
    text-align:center;
}

#addMoreButton {
	visibility: hidden;
	background: #74AFAD;
	font-family: Avenir;
	font-size: 20px;
	border: none;
	margin-right: 5px;
    text-align:center;
}

#shareButton img{
	visibility: hidden;
	vertical-align: bottom;
	margin-right: 7px;
}

#articleLimit {
	text-align: center;
	padding-top: 20px;
}

#articleLimit select {
	margin-left: 10px;
	vertical-align: middle;
}

a {
	text-decoration:none;
}

.hiddenText {
	display: none;
}